<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mina.special.agappy">

    <uses-permission android:name="android.permission.SET_ALARM" />
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"

        android:theme="@style/AppThemeNoBar."
        >
        <activity
            android:name="com.mina.special.agappy.SalawatActivity"
            android:label="الأجبية المقدسة"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar..NoActionBar" />
        <activity
            android:name="com.mina.special.agappy.NoslelActivity"
            android:label="الأجبية المقدسة"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar..NoActionBar" />
        <activity
            android:name="com.mina.special.agappy.Elsawa3yText"
            android:label="الأجبية المقدسة"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar..NoActionBar" />
        <activity
            android:name="com.mina.special.agappy.Elsawa3yActivity"
            android:label="الأجبية المقدسة"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar..NoActionBar" />
        <activity
            android:name="com.mina.special.agappy.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mina.special.agappy.MainActivity" android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar." />
        <activity android:name="com.mina.special.agappy.DailyAyaActivity" />

        <receiver android:name="com.mina.special.agappy.AlertReceiver" />
        <receiver
            android:name="com.mina.special.agappy.MyReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED" /> </intent-filter>
        </receiver>

        <activity
            android:name="com.mina.special.agappy.FeedbackActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>